@media all and (max-width:1000px){
  .game{
    width:100%;
  }

  .container{
    width:100%;
  }
}

@media all and (max-width:670px){
  .game{
    width:100%;
    float:none;
  }
  
  .top-title h1{
    font-size:1em;
  }
}
